<div class="wrapper">
  {{!-- Header With Search--}}
  <div class="header">
    <div class="row search-margin">
      <form>
        <div class="col offset-s3 s6 search-bg-height valign-wrapper input-field input-autocomplete">
          <div class="col s2">
            <a class="btn-floating btn-large waves-effect waves-light red" onclick="goBack()">
              <i class="fas fa-backward"></i>
            </a>
          </div>
          <div class="col s9">
            <div class="back-btn-margin">
              <input type="text" id="search-name" class="autocomplete">
            </div>
          </div>
          <div class="col s3 valign-wrapper">
            <button class="btn waves-effect waves-light" type="submit" id="submit-button">Submit
              <i class="material-icons right">class</i>
            </button>
          </div>
      </form>
      </div>
    </div>
  </div>
  {{!-- Body --}}
  <div class="row">
    {{!-- Left Sidebar --}}
    <div class="col s2 white tag-margin">
      <h6 class="center">
        <b>Native Ads (Taboola)</b>
      </h6>
      {{!-- Taboola native ads --}}
      <div class="row center">
        <img id="defaultPic" class="taboola-pic" src="https://place-hold.it/125x125">
      </div>
      <div class="row center">
        <img id="defaultPic" class="taboola-pic" src="https://place-hold.it/125x125">
      </div>
      <div class="row center">
        <img id="defaultPic" class="taboola-pic" src="https://place-hold.it/125x125">
      </div>
    </div>
    {{!-- Tutor Details Column --}}
    <div class="col s8 white tutor-col-margin">
      {{!-- #each tutorposts --}} {{!-- Tutor Details Card --}}
      <div class="row">
        <div class="col s12">
          <div class="card-panel teal lighten-3" id="tutorDetails">
            <div class="row">
              <div class="col s12">
                <div class="row form-margin">
                  {{!-- Picture --}}
                  <div class="col s4 center">
                    <div class="row">
                      <div class="col s12">
                        <img id="defaultPic" class="tutor-pic" src="{{tutorInfo.imageURL}}"> {{!-- imgURL --}}
                      </div>
                    </div>
                    <div class="row yellow-text">
                      <i class="fas fa-star"></i>
                      <i class="fas fa-star"></i>
                      <i class="fas fa-star"></i>
                      <i class="fas fa-star"></i>
                      <i class="fas fa-star"></i>
                    </div>
                  </div>
                  {{!-- Tutor Posting Details --}}
                  <div class="col s8">
                    <div class="row lower-tutor-card-margin">
                      <div class="col s6 white-text ">
                        <h3>
                          <i class="fas fa-address-card">
                            <span class="tutorName"> {{tutorInfo.firstName}} {{tutorInfo.lastName}}</span>
                          </i>
                        </h3>
                        {{!-- firstName --}} {{!-- lastName --}}
                      </div>
                      <div class="col s6 white-text">
                        <h3 class="pay-margin">
                          <i class="fas fa-money-bill-wave-alt"></i>
                          <span class="tutorName">
                            <span class="venmoDollars">{{tutorInfo.hourlyRate}}</span>/Hr</span>
                          </i>
                        </h3>
                        {{!-- hourlyRate --}}
                        <p>
                          <span class="venmoName">Venmo: @{{tutorInfo.venmoName}}</span>
                        </p>
                        {{!-- venmoName --}}
                      </div>
                    </div>
                    <div class="row">
                      <div class="col s12">
                        <br>
                        <p class="white description-text left">{{tutorInfo.description}}
                        </p>
                        {{!-- description --}}
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col s12 center">
                <a class="red btn bookTutor" href="mailto:Test@gmail.com">Book Me!
                </a>
              </div>
            </div>
            {{!-- Collapsable Review Bar --}}
            <div class="row">
              <ul class="collapsible review-collapsible">
                <li>
                  <div class="collapsible-header white-text teal darken-1">
                    <i class="fas fa-arrow-circle-down"></i>See What People Are Saying</div>
                  <div class="collapsible-body white">
                    <div class="row">
                      <div class="col s6" id="reviewSection">
                        {{#each tutorInfo.Reviews}}
                        <div class="row">
                          <div class="col s6">
                            <h6>
                              <b>{{author}}:</b>
                            </h6>
                            <p>
                              Rating: {{rating}}
                            </p>
                          </div>
                          <div class="col s6">
                            <p>"{{text}}"</p>
                          </div>
                        </div>
                        {{/each}}
                      </div>
                      <form class="col s6 review-border">
                        <h6 class="center">
                          <b>Write a Review</b>
                        </h6>
                        <div class="row">
                          <div class="input-field col s6">
                            <input id="reviewerNameInput" type="text" class="validate">
                            <label for="reviewerNameInput">Reviewer Name</label>
                          </div>
                          <div class="input-field col s6">
                            <input id="reviewerRatingInput" type="text" class="validate">
                            <label for="reviewerRatingInput">Rate(1-5)</label>
                          </div>
                        </div>
                        <div class="row">
                          <div class="input-field col s12">
                            <input id="reviewerDescriptionInput" type="text" class="validate">
                            <label for="reviewerDescriptionInput">Review Description</label>
                          </div>
                        </div>
                        <div class="row center">
                          <button class="btn hoverable review-btn" type="submit" name="action" id="reviewSubmit">Post Review&nbsp;
                            <i class="fas fa-grin-stars"></i>
                          </button>
                        </div>
                      </form>
                    </div>
                  </div>
                </li>
              </ul>
            </div>
          </div>{{!-- card panel --}}
        </div>
      </div>{{!-- row --}} {{!-- /each --}}
    </div>
    {{!-- Right Sidebar --}}
    <div class="col s2 white center">
      <img class="ad-margin" src="https://place-hold.it/150x500">
    </div>
  </div>
</div>
{{!-- Footer --}}
<footer class="page-footer">
  <div class="row footer-fix">
    <p class="col offset-s5 s2 copyright">&copy; Copyright 2018
    </p>
    <div class="col offset-s1 s4 center button-fix">
      Student? Hire Tutors Here! &nbsp
      <a href="/students" class="waves-effect waves-light light-blue btn">View Tutor Listings</a>
    </div>
  </div>
</footer>

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="/js/review.js"></script> {{!--
<script src="/js/details.js"></script> --}}