<div class="wrapper">
  {{!-- Header With Search--}}
  <div class="header">
    <div class="row search-margin">
      <div class="col s2">
        <a href="/">
          <img class="logo-img hoverable" src="/images/logo.png">
        </a>
      </div>
      <form>
        <div class="col s8 valign-wrapper input-field input-autocomplete">
          <div class="col offset-s1 s10">
            <div class="back-btn-margin white">
              <input type="text" id="search-name" class="autocomplete">
            </div>
          </div>
          <div class="col s2">
            <div class="row">
              <div class="col s6">
                <a class="btn waves-effect waves-light red accent-2 hoverable back-button back-btn-icon" onclick="goBack()"> <i class="fas fa-backward"></i></a>
              </div>
              <div class="col s6">
                <button class="btn waves-effect waves-light cyan lighten-2 hoverable" type="submit" id="submit-button"><i class="fas fa-search"></i>
                </button>
              </div>
            </div>
          </div>
        </form> 
      </div>
      </div>
  </div>
  {{!-- Body --}}
  <div class="row">
    {{!-- Left Sidebar --}}
    <div class="col s2 white tag-margin">
      <h6 class="center"><b>Native Ads (Taboola)</b></h6>
      {{!-- Taboola native ads --}}
      <div class="row center">
        <img id="defaultPic" class="taboola-pic" src="https://place-hold.it/125x125">
      </div>
      <div class="row center">
        <img id="defaultPic" class="taboola-pic" src="https://place-hold.it/125x125">
      </div>
      <div class="row center">
        <img id="defaultPic" class="taboola-pic" src="https://place-hold.it/125x125">
      </div>
    </div>
      {{!-- Tutor Details Column --}}
      <div class="col s8 white tutor-col-margin">
        {{!-- #each tutorposts --}}
        {{!-- Tutor Details Card --}}
        <div class="row">
          <div class="col s12"> 
            <div class="card-panel teal lighten-3" id="tutorDetails">
              <div class="row">
                <div class="col s12">
                  <div class="row form-margin">
                    {{!-- Picture --}}
                    <div class="col s4 center">
                      <div class="row">
                        <div class="col s12">
                          <img id="defaultPic" class="tutor-pic" src="{{tutorInfo.imageURL}}">
                          {{!-- imgURL --}}
                        </div>
                      </div>
                      <div class="row yellow-text">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                      </div>  
                    </div>
                    {{!-- Tutor Posting Details --}}
                    <div class="col s8">
                      <div class="row lower-tutor-card-margin">
                        <div class="col s6 white-text">
                          <h3><i class="fas yellow-icon fa-address-card"></i><span class="tutorName"> {{tutorInfo.firstName}} {{tutorInfo.lastName}}</span></h3>
                        </div>
                        <div class="col s6 white-text">
                          {{!-- hourlyRate --}}
                          <h3 class="pay-margin"><span class="tutorName"><span class="yellow-icon">$:</span> <span class="venmoDollars">{{tutorInfo.hourlyRate}}</span> / Hr</span></i></h3>
                        </div> 
                      </div>
                      <div class="row">
                        <div class="col s12">
                          <br>
                          {{!-- venmoName --}}
                          <div class="row">
                            <div class="col s12">
                              <p><span class="venmoName description-text purple "><span class="yellow-icon">@Venmo:</span> {{tutorInfo.venmoName}}</span></p>
                            </div>
                          </div>
                          {{!-- Job Description --}}
                          <div class="row">
                            <div class="col s12">
                              <p class="white description-text left">{{tutorInfo.description}}
                              </p> 
                            </div>
                          </div>
                        </div>  
                      </div>
                      </div>
                    </div>
                  </div>
                </div>
                 <div class="row">
                  <div class="col s12 center">
                    <a class="red btn bookTutor" id="bookTutor" href="mailto:Test@gmail.com">Book Me!
                    </a>  
                  </div>
                </div>
                {{!-- Collapsable Review Bar --}}
                <div class="row">
                  <ul class="collapsible review-collapsible">
                    <li>
                      <div class="collapsible-header white-text teal darken-1"><i class="fas fa-arrow-circle-down yellow-icon"></i>See What People Are Saying</div>
                      <div class="collapsible-body white">
                        <div class="row">
                <div class="col s6">
                  <div class="row">
                    <div class="col s6">
                      <h6><span class="reviewerName"><b>John Smith</b></span></h6>
                      <p><span class="reviewerDescription">Wonderful Tutor, will book many times over</span></p>
                    </div>
                    <div class="col s6">
                      <h6><span class="reviewerName"><b>Madge Johnson</b></span></h6>
                      <p><span class="reviewerDescription">Worst tutor I have ever had.  Did so bad I got a Z... didn't even know that grade existed.</span></p>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col offset-s3 s9">
                      <a class="waves-effect waves-light red btn-small">See All Reviews
                      </a>  
                    </div>
                  </div>
                </div>
                <form class="col s6 review-border">
                  <h6 class="center"><b>Write a Review</b></h6>
                    <div class="row">
                      <div class="input-field col s6">
                        <input id="reviewerNameInput" type="text" class="validate">
                        <label for="reviewerNameInput">Reviewer Name</label>
                      </div>
                      <div class="input-field col s6">
                        <input id="reviewerRatingInput" type="text" class="validate">
                        <label for="reviewerRatingInput">Rate(1-5)</label>
                      </div>
                    </div>
                    <div class="row">
                      <div class="input-field col s12">
                        <input id="reviewerDescriptionInput" type="text" class="validate">
                        <label for="reviewerDescriptionInput">Review Description</label>
                      </div>
                    </div>
                    <div class="row center">
                      <button class="btn hoverable review-btn" type="submit" name="action" id="reviewSubmit">Post Review&nbsp; 
                        <i class="fas fa-grin-stars"></i>
                      </button>
                    </div>
                </form>
              </div>
            </div>
          </li>
        </ul>
      </div>
  </div>{{!-- card panel --}}
</div>
</div>{{!-- row --}} 
</div>
    {{!-- Right Sidebar --}}
    <div class="col s2 white center">
      <img class="ad-margin"src="https://place-hold.it/150x500">
    </div>
  </div>
</div>
{{!-- Footer --}}
<footer class="page-footer">
    <div class="row footer-fix">
      <p class="col offset-s5 s2 copyright">&copy; Copyright 2018 
      </p>
      <div class="col offset-s1 s4 center button-fix">
      Student? Hire Tutors Here! &nbsp 
      <a href="/students" class="waves-effect waves-light student-button hoverable btn">View Tutor Listings</a>
      </div>
    </div>  
</footer>

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="/js/review.js"></script>
{{!-- <script src="/js/details.js"></script> --}}